<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      User
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">User</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-grid>
      <ion-row class="ion-align-items-end">
        <ion-col class="ion-align-self-end">
          <h1>Hello</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row class="ion-align-items-end">
        <ion-col class="ion-align-self-end">
          <ion-button expand="full" (click)="logout()">Logout</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>
